.footer {
  position: relative;
  background-color: #0a2850;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 60px 80px;
  overflow: hidden;
}

.footer__circulo {
  width: 340px;
  height: 340px;
  border-radius: 100%;
  background-color: #2f80ed;
  position: absolute;
  top: -128px;
  left: -44px;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__social {
}

.footer__social-heading {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin-top: 108px;
}
