*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 50px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-left: 30px;
  margin-top: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  font-weight: 500;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  justify-content: flex-end;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  font-size: 58px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  margin-bottom: 28px;
}

.header__title-span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  width: 100%;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 0;
  margin-left: 80px;
}

.header__image {
  max-width: 646px;
  width: 528px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  margin: auto 80px 40px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #6f6f6f;
}

.header__paragraphs {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0 80px 0 0;
}

.recipes {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 0;
}

.recipes__videos {
  margin-top: 80px;
  gap: 40px;
  display: flex;
  justify-content: center;
}

.iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.video-caption {
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 215px;
}
.reservation {
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 100px auto 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  justify-content: center;
  max-width: 385px;
  width: 100%;
  margin-bottom: 120px;
}

.reservation__form fieldset {
  border: none;
  min-width: 0;
  width: 100%;
}

.reservation__label {
  margin-bottom: 8px;
  font-weight: 500;
}

.reservation__input {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__button {
  color: #fff;
  display: block;
  border-radius: 4px;
  max-width: 385px;
  background-color: #2f80ed;
  border: none;
  padding: 30px;
  margin-bottom: 32px;
  width: 100%;
  font-weight: 500;
}

.reservation__button:hover {
  opacity: 70%;
  cursor: pointer;
}

.reservation__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  cursor: pointer;
}

.reservation__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reservation__checkbox-label {
  cursor: pointer;
}
